.hidden {
    display: none;
}

.listing__header {
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.listing__title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #828282;
    text-align: center;
}

.back-button {
    cursor: pointer;
    width: 35px;
}

.listing__search {
    text-align: center;
}

.search-button {
    cursor: pointer;
    margin-right: 30px;
    width: 35px;
}

.search-bar {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-image: url('../../images/Search.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: right;
}

.filter-button {
    cursor: pointer;
    width: 35px;
}
