.welcome__background {
    background-image: url('../../images/bg-2 copy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome__title {
    display: block;
    font-size: 5rem;
    color: #fff;
    font-family: 'Lilita One', cursive;
    text-transform: uppercase;
    text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    padding-top: 50px;
}

.welcome__title img{
    max-width: 100%;
}

.welcome__uploader {
    display: none;
    margin: 0 auto;
}

.welcome__uploader__button {
    margin-bottom: 100px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #F2994A;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 30px 50px 30px 50px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}

.welcome__uploader__button:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.55);
    transition: 0.2s;
}
